@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
* {
  font-family: "Poppins", sans-serif !important;
}

.logo-font {
  font-family: "Manrope", sans-serif !important;
}

.btn-shadow {
  box-shadow: 0px 4px 24px 7px rgba(255, 127, 63, 0.15) !important;
}

$primary: #ff7f3f;

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

.fw-medium {
  font-weight: 500 !important;
}

$custom-colors: (
  "primary-dark": #341409,
);

$theme-colors: map-merge($custom-colors, $theme-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";

.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .my-card {
    flex: 1 0 20em;
  }
}
