.star-container {
  line-height: 0;
}

.star-icon {
  font-size: 12px;
}

.card-comment {
  height: 70px;
  overflow-y: scroll;
}

.big-font {
  font-size: 100px;
}

.rating-container {
  width: 196px;
}
